body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
    background-image: linear-gradient(125deg,#616A6B,#2E4053);
    /*background-image: linear-gradient(125deg,#34495E,#FD4225);*/
}

.container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: 343434;
}

.container h1{
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url(yt-img1.jpg) center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.container a{
    text-decoration: none;
    background: #5D6D7E;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.container a:hover{
    background: #2E4053;
}


